*{
    margin: 0;
    padding: 0;
      font-family: "Open Sans", sans-serif;
}
 header{background-color: #ffff;}
.navagation{ background-color: #ffffff;
    /* text-align: center; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 8px 20px;
    max-width: 1200px;
    margin:auto;

}
.nav-list ul{ display: flex;
    text-align: center;
    justify-content: space-between;
    list-style: none;
    gap: 100px;
     color: #575757;

}
.common-btn {background-color: #1d4ed8;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 20px;
    color: #ffff;
    border: #3b82f6;
    

}
.nav-logo{color: #0d1b2a;
    display: flex;
    list-style: none;
    /* text-align: center; */
    align-items: center;

}
